<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" ng-app="confin.ui">
<head>
    <title>Controle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*
    <link href="~/assets/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap/bootstrap-datepicker.min.css" rel="stylesheet" />
    
    <link href="~/assets/css/flat-ui/vendor.css" rel="stylesheet" />
    <link href="~/assets/css/flat-ui/flat-admin.css" rel="stylesheet" />
    <link href="~/assets/css/flat-ui/theme/blue-sky.css" rel="stylesheet" />
    <link href="~/assets/css/flat-ui/theme/blue.css" rel="stylesheet" />
    <link href="~/assets/css/flat-ui/theme/default.css" rel="stylesheet" />
    <link href="~/assets/css/flat-ui/theme/red.css" rel="stylesheet" />
    <link href="~/assets/css/flat-ui/theme/yellow.css" rel="stylesheet" />
    *@
    <link href="~/assets/css/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/assets/css/general.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/assets/libs/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/assets/libs/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/libs/flat-ui/vendor.js"></script>
    <script src="~/assets/libs/flat-ui/app.js"></script>
    <script src="~/assets/libs/momentjs/moment.min.js"></script>
    @*<script src="~/assets/libs/momentjs/moment-with-locales.min.js"></script>*@
    <script src="~/assets/libs/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/scripts/utils.js"></script>
    <script src="~/assets/libs/angularjs/angular.min.js"></script>
    <script src="~/assets/libs/angularjs/angular-animate.min.js"></script>
    <script src="~/assets/libs/angularjs/angular-aria.min.js"></script>
    <script src="~/assets/libs/angularjs/i18n/angular-locale_pt-br.js"></script>
    <script src="~/assets/libs/angularjs/angular-messages.min.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/app.config.js"></script>
    <script src="~/app/shared/directives/compare-to.directive.js"></script>
    <script src="~/app/shared/directives/user-unique.directive.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Eduardo Pires", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Lista Usuários","Index","Usuarios")</li>
                    <li><a href="http://eduardopires.net.br/sobre-eduardo-pires/" target="_blank">Sobre o autor</a></li>
                    <li><a href="http://eduardopires.net.br/category/asp-net-identity/" target="_blank">Artigos sobre Identity</a></li>
                    <li><a href="http://eduardopires.net.br/cursos/" target="_blank">Cursos</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Eduardo Pires - Treinamentos e Consultoria</p>
        </footer>
    </div>
</body>
</html>